
@{
    ViewData["Title"] = "ProductListPage";
}
@section Styles{ 
    <link href="~/css/ProductListPage.css" rel="stylesheet" />
}
<body>
    <article>
        <div class="article-test">
            <div style=" background: url('category.jpg');background-size:cover ;height:350px; ">
                <div class="rwd-experience-header-main-container">
                    <div class="rwd-header-container">
                        <div class="experience-title-and-location-button">
                            <div class="experiences-title">
                                <span class="experiences-title-text">玩樂</span>
                            </div>
                            <h1 class="experiences-tips">
                                探索景點、行程等
                            </h1>
                            <div class="location-select-button desktop">
                                <div class="location-select-button_main">
                                    <div class="location-select-button_main-select">
                                        <div>
                                            <img src="maps.jpg" class="svg-icon">
                                            <span class="experiences-title-text">世界各地</span>
                                            <img src="down.jpg" class="svg-icon">
                                        </div>
                                    </div>
                                    <div class="destination-tips-popup-new">
                                        <div class="destination-tips-new">
                                            <span class="destination-tips_title">想尋找<span style="color:#FF5B00;font-weight:bold;">台灣</span>人氣玩樂？</span><div class="destination-tips_buttons">
                                                <button data-v-0eaa3c40="" type="button" class="destination-tips_link klk-button klk-button-primary klk-button-mini">
                                                    <!----> <!----> <span>
                                                        Go
                                                    </span>
                                                </button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="header-search-box-desktop rwd-header-search-box-desktop">
                            <label class="input-box" width="622" height="54">
                                <img src="search.jpg" />
                                <input type="text" placeholder="想幹嘛?" size="80" style="border-style:none" class="js-experience-search-input js-all-search-input-active" />
                                <button type="button" class="search klk-button klk-button-primary">
                                    <span>
                                        搜尋
                                    </span>
                                </button>
                            </label>
                            <div class="search-suggest-container"></div>
                        </div>
                    </div>

                </div>
            </div>
            <div>
                <div class="expend_test">

                    <div class="expend_test">


                    </div>
                </div>

                <div>
                    <div class="asdqwr">
                        <div class="card" style="width: 148px;height:117px;">
                            <div class="cardsize">
                                <img src="all.jpg" class="cardimg-top" alt="...">
                                <span class="experience-menu-name">總覽</span>
                            </div>
                        </div>
                        <div class="card" style="width: 148px;height:117px;">
                            <div class="cardsize">
                                <img src="all.jpg" class="cardimg-top" alt="...">
                                <span class="experience-menu-name">總覽</span>
                            </div>
                        </div>
                        <div class="card" style="width: 148px;height:117px;">
                            <div class="cardsize">
                                <img src="all.jpg" class="cardimg-top" alt="...">
                                <span class="experience-menu-name">總覽</span>
                            </div>
                        </div>
                        <div class="card" style="width: 148px;height:117px;">
                            <div class="cardsize">
                                <img src="all.jpg" class="cardimg-top" alt="...">
                                <span class="experience-menu-name">總覽</span>
                            </div>
                        </div>
                        <div class="card" style="width: 148px;height:117px;">
                            <div class="cardsize">
                                <img src="all.jpg" class="cardimg-top" alt="...">
                                <span class="experience-menu-name">總覽</span>
                            </div>
                        </div>
                        <div class="card" style="width: 148px;height:117px;">
                            <div class="cardsize">
                                <img src="all.jpg" class="cardimg-top" alt="...">
                                <span class="experience-menu-name">總覽</span>
                            </div>
                        </div>
                        <div class="card" style="width: 148px;height:117px;">
                            <div class="cardsize">
                                <img src="all.jpg" class="cardimg-top" alt="...">
                                <span class="experience-menu-name">總覽</span>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="asdqwr">
                    <div class="card" style="background: url('taiwan.jpg'); background-size:cover;">
                        <div class="card-img">
                            <div class="title">
                                <a>台灣</a>
                            </div>
                            <div class="explore">
                                <span>探索 ></span>
                            </div>
                        </div>
                    </div>
                    <div class="card" style="">
                        <img class="card-img-top" src="101.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h3 class="activity-card-title">
                                【領券現折100】Klook獨家優惠｜台北101觀景台門票｜高空Sky Lounge百萬夜景
                            </h3>
                            <div class="page-activity-recommend-score">
                                <span class="page-activity-recommend-score-number">
                                    <svg width="12" height="12" class="svg-icon"></svg>
                                    <span class="score-rate">4.7</span>
                                </span>
                                <span class="page-activity-recommend-review-number">
                                    (
                                    <span class="review-number">30K+ 則評價</span>
                                    )
                                </span>
                            </div>
                            <div class="activity-card-bottom">
                                <div>
                                    <div class="activity-card-price-box home-activity-card_price small-card">
                                        <span class="activity-card-price-box__sell-price dynamic-width-price">NT$300</span>
                                        <span class="activity-card-price-box__underline-price dynamic-width-price">NT$600</span>
                                    </div>
                                </div>
                            </div>
                            <div class="tagging-wrap bottom-tag small-style">
                                <div class="tagging-box">
                                    <div text="最優價格保證" color="#FF5B00" backgroundcolor="rgba(255, 240, 229, 255)" bordercolor="#FFF0E5" borderradius="4px" maxwidth="auto" class="tagging-tag small-style">
                                        <div class="tagging-tag_custom" style="max-width:auto;color:#FF5B00;border-color:#FFF0E5;background-color:rgba(255, 240, 229, 255);border-radius:4px;">最優價格保證</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card" style="">
                        <img class="card-img-top" src="101.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h3 class="activity-card-title">
                                【領券現折100】Klook獨家優惠｜台北101觀景台門票｜高空Sky Lounge百萬夜景
                            </h3>
                            <div class="page-activity-recommend-score">
                                <span class="page-activity-recommend-score-number">
                                    <svg width="12" height="12" class="svg-icon"></svg>
                                    <span class="score-rate">4.7</span>
                                </span>
                                <span class="page-activity-recommend-review-number">
                                    (
                                    <span class="review-number">30K+ 則評價</span>
                                    )
                                </span>
                            </div>
                            <div class="activity-card-bottom">
                                <div>
                                    <div class="activity-card-price-box home-activity-card_price small-card">
                                        <span class="activity-card-price-box__sell-price dynamic-width-price">NT$300</span>
                                        <span class="activity-card-price-box__underline-price dynamic-width-price">NT$600</span>
                                    </div>
                                </div>
                            </div>
                            <div class="tagging-wrap bottom-tag small-style">
                                <div class="tagging-box">
                                    <div text="最優價格保證" color="#FF5B00" backgroundcolor="rgba(255, 240, 229, 255)" bordercolor="#FFF0E5" borderradius="4px" maxwidth="auto" class="tagging-tag small-style">
                                        <div class="tagging-tag_custom" style="max-width:auto;color:#FF5B00;border-color:#FFF0E5;background-color:rgba(255, 240, 229, 255);border-radius:4px;">最優價格保證</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card" style="">
                        <img class="card-img-top" src="101.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h3 class="activity-card-title">
                                【領券現折100】Klook獨家優惠｜台北101觀景台門票｜高空Sky Lounge百萬夜景
                            </h3>
                            <div class="page-activity-recommend-score">
                                <span class="page-activity-recommend-score-number">
                                    <svg width="12" height="12" class="svg-icon"></svg>
                                    <span class="score-rate">4.7</span>
                                </span>
                                <span class="page-activity-recommend-review-number">
                                    (
                                    <span class="review-number">30K+ 則評價</span>
                                    )
                                </span>
                            </div>
                            <div class="activity-card-bottom">
                                <div>
                                    <div class="activity-card-price-box home-activity-card_price small-card">
                                        <span class="activity-card-price-box__sell-price dynamic-width-price">NT$300</span>
                                        <span class="activity-card-price-box__underline-price dynamic-width-price">NT$600</span>
                                    </div>
                                </div>
                            </div>
                            <div class="tagging-wrap bottom-tag small-style">
                                <div class="tagging-box">
                                    <div text="最優價格保證" color="#FF5B00" backgroundcolor="rgba(255, 240, 229, 255)" bordercolor="#FFF0E5" borderradius="4px" maxwidth="auto" class="tagging-tag small-style">
                                        <div class="tagging-tag_custom" style="max-width:auto;color:#FF5B00;border-color:#FFF0E5;background-color:rgba(255, 240, 229, 255);border-radius:4px;">最優價格保證</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card" style="">
                        <img class="card-img-top" src="101.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h3 class="activity-card-title">
                                【領券現折100】Klook獨家優惠｜台北101觀景台門票｜高空Sky Lounge百萬夜景
                            </h3>
                            <div class="page-activity-recommend-score">
                                <span class="page-activity-recommend-score-number">
                                    <svg width="12" height="12" class="svg-icon"></svg>
                                    <span class="score-rate">4.7</span>
                                </span>
                                <span class="page-activity-recommend-review-number">
                                    (
                                    <span class="review-number">30K+ 則評價</span>
                                    )
                                </span>
                            </div>
                            <div class="activity-card-bottom">
                                <div>
                                    <div class="activity-card-price-box home-activity-card_price small-card">
                                        <span class="activity-card-price-box__sell-price dynamic-width-price">NT$300</span>
                                        <span class="activity-card-price-box__underline-price dynamic-width-price">NT$600</span>
                                    </div>
                                </div>
                            </div>
                            <div class="tagging-wrap bottom-tag small-style">
                                <div class="tagging-box">
                                    <div text="最優價格保證" color="#FF5B00" backgroundcolor="rgba(255, 240, 229, 255)" bordercolor="#FFF0E5" borderradius="4px" maxwidth="auto" class="tagging-tag small-style">
                                        <div class="tagging-tag_custom" style="max-width:auto;color:#FF5B00;border-color:#FFF0E5;background-color:rgba(255, 240, 229, 255);border-radius:4px;">最優價格保證</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="asdqwr">
                    <div class="card" style="background: url('taiwan.jpg'); background-size:cover;">
                        <div class="card-img">
                            <div class="title">
                                <a>台灣</a>
                            </div>
                            <div class="explore">
                                <span>探索 ></span>
                            </div>
                        </div>
                    </div>
                    <div class="card" style="">
                        <img class="card-img-top" src="101.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h3 class="activity-card-title">
                                【領券現折100】Klook獨家優惠｜台北101觀景台門票｜高空Sky Lounge百萬夜景
                            </h3>
                            <div class="page-activity-recommend-score">
                                <span class="page-activity-recommend-score-number">
                                    <svg width="12" height="12" class="svg-icon"></svg>
                                    <span class="score-rate">4.7</span>
                                </span>
                                <span class="page-activity-recommend-review-number">
                                    (
                                    <span class="review-number">30K+ 則評價</span>
                                    )
                                </span>
                            </div>
                            <div class="activity-card-bottom">
                                <div>
                                    <div class="activity-card-price-box home-activity-card_price small-card">
                                        <span class="activity-card-price-box__sell-price dynamic-width-price">NT$300</span>
                                        <span class="activity-card-price-box__underline-price dynamic-width-price">NT$600</span>
                                    </div>
                                </div>
                            </div>
                            <div class="tagging-wrap bottom-tag small-style">
                                <div class="tagging-box">
                                    <div text="最優價格保證" color="#FF5B00" backgroundcolor="rgba(255, 240, 229, 255)" bordercolor="#FFF0E5" borderradius="4px" maxwidth="auto" class="tagging-tag small-style">
                                        <div class="tagging-tag_custom" style="max-width:auto;color:#FF5B00;border-color:#FFF0E5;background-color:rgba(255, 240, 229, 255);border-radius:4px;">最優價格保證</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card" style="">
                        <img class="card-img-top" src="101.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h3 class="activity-card-title">
                                【領券現折100】Klook獨家優惠｜台北101觀景台門票｜高空Sky Lounge百萬夜景
                            </h3>
                            <div class="page-activity-recommend-score">
                                <span class="page-activity-recommend-score-number">
                                    <svg width="12" height="12" class="svg-icon"></svg>
                                    <span class="score-rate">4.7</span>
                                </span>
                                <span class="page-activity-recommend-review-number">
                                    (
                                    <span class="review-number">30K+ 則評價</span>
                                    )
                                </span>
                            </div>
                            <div class="activity-card-bottom">
                                <div>
                                    <div class="activity-card-price-box home-activity-card_price small-card">
                                        <span class="activity-card-price-box__sell-price dynamic-width-price">NT$300</span>
                                        <span class="activity-card-price-box__underline-price dynamic-width-price">NT$600</span>
                                    </div>
                                </div>
                            </div>
                            <div class="tagging-wrap bottom-tag small-style">
                                <div class="tagging-box">
                                    <div text="最優價格保證" color="#FF5B00" backgroundcolor="rgba(255, 240, 229, 255)" bordercolor="#FFF0E5" borderradius="4px" maxwidth="auto" class="tagging-tag small-style">
                                        <div class="tagging-tag_custom" style="max-width:auto;color:#FF5B00;border-color:#FFF0E5;background-color:rgba(255, 240, 229, 255);border-radius:4px;">最優價格保證</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card" style="">
                        <img class="card-img-top" src="101.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h3 class="activity-card-title">
                                【領券現折100】Klook獨家優惠｜台北101觀景台門票｜高空Sky Lounge百萬夜景
                            </h3>
                            <div class="page-activity-recommend-score">
                                <span class="page-activity-recommend-score-number">
                                    <svg width="12" height="12" class="svg-icon"></svg>
                                    <span class="score-rate">4.7</span>
                                </span>
                                <span class="page-activity-recommend-review-number">
                                    (
                                    <span class="review-number">30K+ 則評價</span>
                                    )
                                </span>
                            </div>
                            <div class="activity-card-bottom">
                                <div>
                                    <div class="activity-card-price-box home-activity-card_price small-card">
                                        <span class="activity-card-price-box__sell-price dynamic-width-price">NT$300</span>
                                        <span class="activity-card-price-box__underline-price dynamic-width-price">NT$600</span>
                                    </div>
                                </div>
                            </div>
                            <div class="tagging-wrap bottom-tag small-style">
                                <div class="tagging-box">
                                    <div text="最優價格保證" color="#FF5B00" backgroundcolor="rgba(255, 240, 229, 255)" bordercolor="#FFF0E5" borderradius="4px" maxwidth="auto" class="tagging-tag small-style">
                                        <div class="tagging-tag_custom" style="max-width:auto;color:#FF5B00;border-color:#FFF0E5;background-color:rgba(255, 240, 229, 255);border-radius:4px;">最優價格保證</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card" style="">
                        <img class="card-img-top" src="101.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h3 class="activity-card-title">
                                【領券現折100】Klook獨家優惠｜台北101觀景台門票｜高空Sky Lounge百萬夜景
                            </h3>
                            <div class="page-activity-recommend-score">
                                <span class="page-activity-recommend-score-number">
                                    <svg width="12" height="12" class="svg-icon"></svg>
                                    <span class="score-rate">4.7</span>
                                </span>
                                <span class="page-activity-recommend-review-number">
                                    (
                                    <span class="review-number">30K+ 則評價</span>
                                    )
                                </span>
                            </div>
                            <div class="activity-card-bottom">
                                <div>
                                    <div class="activity-card-price-box home-activity-card_price small-card">
                                        <span class="activity-card-price-box__sell-price dynamic-width-price">NT$300</span>
                                        <span class="activity-card-price-box__underline-price dynamic-width-price">NT$600</span>
                                    </div>
                                </div>
                            </div>
                            <div class="tagging-wrap bottom-tag small-style">
                                <div class="tagging-box">
                                    <div text="最優價格保證" color="#FF5B00" backgroundcolor="rgba(255, 240, 229, 255)" bordercolor="#FFF0E5" borderradius="4px" maxwidth="auto" class="tagging-tag small-style">
                                        <div class="tagging-tag_custom" style="max-width:auto;color:#FF5B00;border-color:#FFF0E5;background-color:rgba(255, 240, 229, 255);border-radius:4px;">最優價格保證</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="asdqwr">
                    <div class="card" style="background: url('taiwan.jpg'); background-size:cover;">
                        <div class="card-img">
                            <div class="title">
                                <a>台灣</a>
                            </div>
                            <div class="explore">
                                <span>探索 ></span>
                            </div>
                        </div>
                    </div>
                    <div class="card" style="">
                        <img class="card-img-top" src="101.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h3 class="activity-card-title">
                                【領券現折100】Klook獨家優惠｜台北101觀景台門票｜高空Sky Lounge百萬夜景
                            </h3>
                            <div class="page-activity-recommend-score">
                                <span class="page-activity-recommend-score-number">
                                    <svg width="12" height="12" class="svg-icon"></svg>
                                    <span class="score-rate">4.7</span>
                                </span>
                                <span class="page-activity-recommend-review-number">
                                    (
                                    <span class="review-number">30K+ 則評價</span>
                                    )
                                </span>
                            </div>
                            <div class="activity-card-bottom">
                                <div>
                                    <div class="activity-card-price-box home-activity-card_price small-card">
                                        <span class="activity-card-price-box__sell-price dynamic-width-price">NT$300</span>
                                        <span class="activity-card-price-box__underline-price dynamic-width-price">NT$600</span>
                                    </div>
                                </div>
                            </div>
                            <div class="tagging-wrap bottom-tag small-style">
                                <div class="tagging-box">
                                    <div text="最優價格保證" color="#FF5B00" backgroundcolor="rgba(255, 240, 229, 255)" bordercolor="#FFF0E5" borderradius="4px" maxwidth="auto" class="tagging-tag small-style">
                                        <div class="tagging-tag_custom" style="max-width:auto;color:#FF5B00;border-color:#FFF0E5;background-color:rgba(255, 240, 229, 255);border-radius:4px;">最優價格保證</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card" style="">
                        <img class="card-img-top" src="101.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h3 class="activity-card-title">
                                【領券現折100】Klook獨家優惠｜台北101觀景台門票｜高空Sky Lounge百萬夜景
                            </h3>
                            <div class="page-activity-recommend-score">
                                <span class="page-activity-recommend-score-number">
                                    <svg width="12" height="12" class="svg-icon"></svg>
                                    <span class="score-rate">4.7</span>
                                </span>
                                <span class="page-activity-recommend-review-number">
                                    (
                                    <span class="review-number">30K+ 則評價</span>
                                    )
                                </span>
                            </div>
                            <div class="activity-card-bottom">
                                <div>
                                    <div class="activity-card-price-box home-activity-card_price small-card">
                                        <span class="activity-card-price-box__sell-price dynamic-width-price">NT$300</span>
                                        <span class="activity-card-price-box__underline-price dynamic-width-price">NT$600</span>
                                    </div>
                                </div>
                            </div>
                            <div class="tagging-wrap bottom-tag small-style">
                                <div class="tagging-box">
                                    <div text="最優價格保證" color="#FF5B00" backgroundcolor="rgba(255, 240, 229, 255)" bordercolor="#FFF0E5" borderradius="4px" maxwidth="auto" class="tagging-tag small-style">
                                        <div class="tagging-tag_custom" style="max-width:auto;color:#FF5B00;border-color:#FFF0E5;background-color:rgba(255, 240, 229, 255);border-radius:4px;">最優價格保證</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card" style="">
                        <img class="card-img-top" src="101.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h3 class="activity-card-title">
                                【領券現折100】Klook獨家優惠｜台北101觀景台門票｜高空Sky Lounge百萬夜景
                            </h3>
                            <div class="page-activity-recommend-score">
                                <span class="page-activity-recommend-score-number">
                                    <svg width="12" height="12" class="svg-icon"></svg>
                                    <span class="score-rate">4.7</span>
                                </span>
                                <span class="page-activity-recommend-review-number">
                                    (
                                    <span class="review-number">30K+ 則評價</span>
                                    )
                                </span>
                            </div>
                            <div class="activity-card-bottom">
                                <div>
                                    <div class="activity-card-price-box home-activity-card_price small-card">
                                        <span class="activity-card-price-box__sell-price dynamic-width-price">NT$300</span>
                                        <span class="activity-card-price-box__underline-price dynamic-width-price">NT$600</span>
                                    </div>
                                </div>
                            </div>
                            <div class="tagging-wrap bottom-tag small-style">
                                <div class="tagging-box">
                                    <div text="最優價格保證" color="#FF5B00" backgroundcolor="rgba(255, 240, 229, 255)" bordercolor="#FFF0E5" borderradius="4px" maxwidth="auto" class="tagging-tag small-style">
                                        <div class="tagging-tag_custom" style="max-width:auto;color:#FF5B00;border-color:#FFF0E5;background-color:rgba(255, 240, 229, 255);border-radius:4px;">最優價格保證</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card" style="">
                        <img class="card-img-top" src="101.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h3 class="activity-card-title">
                                【領券現折100】Klook獨家優惠｜台北101觀景台門票｜高空Sky Lounge百萬夜景
                            </h3>
                            <div class="page-activity-recommend-score">
                                <span class="page-activity-recommend-score-number">
                                    <svg width="12" height="12" class="svg-icon"></svg>
                                    <span class="score-rate">4.7</span>
                                </span>
                                <span class="page-activity-recommend-review-number">
                                    (
                                    <span class="review-number">30K+ 則評價</span>
                                    )
                                </span>
                            </div>
                            <div class="activity-card-bottom">
                                <div>
                                    <div class="activity-card-price-box home-activity-card_price small-card">
                                        <span class="activity-card-price-box__sell-price dynamic-width-price">NT$300</span>
                                        <span class="activity-card-price-box__underline-price dynamic-width-price">NT$600</span>
                                    </div>
                                </div>
                            </div>
                            <div class="tagging-wrap bottom-tag small-style">
                                <div class="tagging-box">
                                    <div text="最優價格保證" color="#FF5B00" backgroundcolor="rgba(255, 240, 229, 255)" bordercolor="#FFF0E5" borderradius="4px" maxwidth="auto" class="tagging-tag small-style">
                                        <div class="tagging-tag_custom" style="max-width:auto;color:#FF5B00;border-color:#FFF0E5;background-color:rgba(255, 240, 229, 255);border-radius:4px;">最優價格保證</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>



            </div>
        </div>
    </article>
</body>
