@{
    ViewData["Title"] = "LoginModal";
    Layout = null;
    

}



<form method="post">
    <h1>歡迎</h1>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">使用者帳號</label>
        <input type="text" class="form-control" id="Actemail" placeholder="name@example.com">
        <small id="sm" class="form-text text-muted"></small>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">使用者密碼</label>
        <input type="password" class="form-control" id="Pas" placeholder="password">
    </div>
    <div class="modal-footer mx-auto">
        <div style="margin-right:150px;">
            <span>
                <label>
                    <span>
                        <input type="checkbox" />
                    </span>
                    <span>記住我</span>
                </label>
            </span>
        </div>
        <button type="submit" class="btn btn-primary" id="btnlogin" onclick="BtnLogin()">登入</button>
        <button type="button" class="btn btn-success" id=" demo" onclick="DemoValue()">Demo</button>
        <a href="@Url.Content("~/CustomerCenter/Forgetpas")" class="btn-outline-dark">忘記密碼?</a>

    </div>
</form>
@section Scripts {
    <script>
        //const login = document.querySelector("#btnlogin");
        //login.addEventListener("")


    </script>
}

<script>
        const DemoValue = () => {
         let act = document.querySelector("#Actemail");
        let pas = document.querySelector("#Pas");
        act.value = "mi@123.com";
        pas.value = 12345678;
        
    }

    const BtnLogin = () => {
            alert("登入成功")
        }
</script>
   

@*@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@